.inputBody {
  position: relative;
  max-width: 1135px;
  margin-left: $spacing-l;
  height: 52px;
  margin-bottom: $spacing-xxs;

  .input {
    width: 100%;
    height: 100%;
    color: var(--text-primary);
    border: 1px solid var(--input-border);
    background-color: var(--input-bg);
    padding: $spacing-s $spacing-xs;
    font-size: 18px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

    &:focus {
      background-color: var(--input-bg-focus);
      border-color: var(--input-border-focus);
      outline: none;
    }

    &:disabled {
      background-color: var(--input-bg-disabled);
      border-color: var(--input-border-disabled);
    }
  }

  .inputIcon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
