.scrollButton {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  background-color: var(--card-bg);
  color: var(--text-primary);
  border: none;
  border-radius: 9999px;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.scrollButton:hover {
  background-color: #444;
}
