@keyframes shimmer {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}

.skeletonBase {
  background: linear-gradient(
                  90deg,
                  var(--skeleton-bg) 25%,
                  var(--skeleton-shimmer) 50%,
                  var(--skeleton-bg) 75%
  );
  background-size: 400% 100%;
  animation: shimmer 2.8s infinite ease;
  border-radius: 4px;
}

.profilePage {
  max-width: 1200px;
  margin: auto;
  padding: 0 $spacing-m;

  @media (max-width: 768px) {
    padding: 0 $spacing-s;
  }
}

.profileHeader {
  margin-bottom: $spacing-l;
  h1 {
    font-size: 2rem;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
}

.favoriteGenres {
  margin-bottom: $spacing-l;
}

.genres {
  margin-top: $spacing-m;
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-xxs;
  margin-left: $spacing-l;
  margin-right: $spacing-l;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.bandList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: $spacing-l;
  margin: 0 auto;
  padding: $spacing-l;
}

.skeletonTextLarge {
  @extend .skeletonBase;
  width: 300px;
  height: 32px;
}

.skeletonTextMedium {
  @extend .skeletonBase;
  width: 200px;
  height: 24px;
  margin-bottom: $spacing-s;
}

.skeletonGenre {
  @extend .skeletonBase;
  width: 80px;
  height: 20px;
}

.skeletonCard {
  @extend .skeletonBase;
  width: 348px;
  height: 622px;
}
