.profilePage {
  max-width: 1200px;
  margin: auto;
  padding: 0 $spacing-m;

  @media (max-width: 768px) {
    padding: 0 $spacing-s;
  }
}

.profileHeader {
  margin-bottom: $spacing-l;
  h1 {
    font-size: 2rem;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
}
.favoriteGenres {
  margin-bottom: $spacing-l;
}

.genres {
  margin-top: $spacing-m;
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-xxs;
  margin-left: $spacing-l;
  margin-right: $spacing-l;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.genre {
  cursor: pointer;
}

.genreLink {
  font-size: 1rem;
  color: var(--text-accent-default);

  @media (max-width: 768px) {
    font-size: 0.875rem;
  }

  &:hover {
    color: var(--text-accent);
  }
}

.bandList {
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: $spacing-l;
  margin: 0 auto;
  padding: $spacing-l;
}