.themeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  transition: color 0.3s ease;
  margin-right: $spacing-xl;

  &:hover {
    color: var(--text-accent);
  }

  &:focus {
    outline: none;
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.icon {
  width: 100%;
  height: 100%;
}
