$spacing-xl: 24px;
$spacing-l: 20px;
$spacing-m: 16px;
$spacing-s: 14px;
$spacing-xs: 12px;
$spacing-xxs: 8px;

/*перменные светлой темы*/

$text-primary: #000000;
$text-secondary: #AFADB5;
$text-accent: #1F883D;

$card-bg: #FFFFFF;
$default-bg: #E8E8F6;

/*переменные темной темы*/

$text-primary-dt: #FFFFFF;
$text-secondary-dt: #A0A0A0;
$text-accent-dt: #FFD700;

$card-bg-dt: #222222;
$default-bg-dt: #111111;


