$spacing-xl: 24px;
$spacing-l: 20px;
$spacing-m: 16px;
$spacing-s: 14px;
$spacing-xs: 12px;
$spacing-xxs: 8px;
$skeleton-bg: linear-gradient(90deg, rgba(0,0,0,0.05) 25%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.05) 75%);

/*перменные светлой темы*/

$text-primary: #000000;
$text-secondary: #AFADB5;
$text-accent: #1F883D;

$card-bg: #FFFFFF;
$default-bg: #E8E8F6;

$input-border:#000000;
$input-bg:#FFFFFF;
$input-bg-focus:#FFFFFF;
$input-border-focus:#1F883D;
$input-bg-disabled:#FFFFFF;
$input-border-disabled:#FFFFFF;

/*переменные темной темы*/

$text-primary-dt: #FFFFFF;
$text-secondary-dt: #A0A0A0;
$text-accent-dt: #FFD700;

$card-bg-dt: #222222;
$default-bg-dt: #111111;

$input-border-dt:#A0A0A0;
$input-bg-dt:#222222;
$input-bg-focus-dt:#222222;
$input-border-focus-dt:#FFD700;
$input-bg-disabled-dt:#FFFFFF;
$input-border-disabled-dt:#FFFFFF;
