.overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.7);
  z-index: 1000;
}

.modalWindow {
  background: var(--card-bg);
  padding: 2rem;
  border-radius: 8px;
  width: 320px;
}

.modalTitle {
  margin-bottom: $spacing-m;
}

.modalInput {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.modalButton {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
    background-color: var(--default-bg);
    color: var(--text-primary);
    border: 1px solid var(--text-secondary);
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 1s ease, color 0.5s ease;

    &:hover {
      background-color: var(--text-accent);
      color: var(--card-bg);
    }

    &:focus {
      outline: none;
    }
  }

.error {
  color: red;
  margin: 0.5rem 0;
}

.toggleText {
  margin-top: 1rem;
  text-align: center;
}

.link {
  color: var(--text-accent);
  cursor: pointer;
}
