.card {
  display: grid;
  margin: 0;
  max-width: 348px;
  max-height: 622px;
  cursor: pointer;
  background-color: var(--card-bg);
  gap: $spacing-xl;
  transition:
          background-color 0.5s ease-in-out,
          color 0.5s ease-in-out,
          box-shadow 0.5s ease-in-out;

  &:hover {
    box-shadow: 0 6px 10px 0 var(--shadow-color);
  }
}
.cardHeader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 360px;
  overflow: hidden;
}

.blurBackground {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: blur(15px);
  transform: scale(1.2);
}

.image {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}

.cardBody {
  display: grid;
  gap: 8px;
  padding-right: $spacing-xs;
  padding-left: $spacing-xs;
  /*  margin-bottom: -4px;*/
  padding-bottom: $spacing-xs;
}