.container {
  max-width: 1200px;
  margin: auto;
}

.dropdownAndCheckboxContainer{
  display: flex;
  align-items: center;
  gap: $spacing-xl;

  .checkBox{
    gap: $spacing-s;
    margin-bottom: 6px;
  }
}

.bandList {
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: $spacing-l;
  margin: 0 auto;
  padding: $spacing-l;
}

@media (max-width: 1024px) {
  .bandList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .bandList {
    grid-template-columns: 1fr;
  }
}

.container::-webkit-scrollbar {
  display: none;
}
