.releaseGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 16px;
  margin-top: 16px;
  align-items: start;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 350px);
    justify-content: space-around;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
