.navbar {
  background-color: var(--default-bg);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  padding: $spacing-l $spacing-xl;
  box-shadow: 0 2px 8px var(--shadow-color);
  margin-bottom: 30px;

  .logoWrapper {
    position:absolute;
    width: 200px;
    height: auto;
    top: -10px;
  }

  .logo {
    position: absolute;
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease-in-out;
  }

  .hidden {
    opacity: 0;
  }

  .visible {
    opacity: 1;
  }


  .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navItems {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: $spacing-l;

    li {
      margin-right: $spacing-l;
    }

    a,
    .menuButton {
      color: var(--text-primary);
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      transition: color 0.5s ease;

      &:hover {
        color: var(--text-accent);
      }
    }
  }
  .rightSection {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .authButton{
    background: none;
    border: none;
    font-size: 16px;
    color: var(--text-accent-default);
    cursor: pointer;
    padding: 8px;
    transition: color 0.5s ease;
    &:hover {
      color: var(--text-accent);
    }
  }

}

.authButton, .username {
  margin-right: $spacing-l;
}

.dropdown {
  position: relative;
  z-index: 2;

  .menuButton {
    background: none;
    border: none;
    font-size: 16px;
    color: var(--text-primary);
    cursor: pointer;
    padding: 8px;
    transition: color 0.5s ease;

    &:hover {
      color: var(--text-accent);
    }
  }
  .exitButton{
    background: none;
    border: none;
    font-size: 16px;
    color: var(--text-primary);
    cursor: pointer;
    transition: color 0.5s ease;

    &:hover {
      color: red;
    }
  }

  .dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--card-bg);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

    li {
      padding: $spacing-m;
      width: 100%;
      cursor: pointer;
      transition: background-color 0.5s ease;

      &:hover {
        background-color: var(--default-bg);
      }
    }
  }
}

@media (max-width: 520px) {
  .navbar {
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navItems {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }

  .logoWrapper {
    position: absolute;
    top: 10px;
    left: 57%;
    transform: translateX(-50%);
  }

  .logo {
    max-width: 150px;
  }

  .rightSection {
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .dropdownMenu {
    width: 100%;
    top: 50px;
  }

  .menuButton {
    display: block;
    margin: 0 auto;
  }
}

