/*.multiDropdown {
  width: 500px !important;
}*/
// надо не забыть разобраться со стилями здесь
.dropdownMenu{
  margin-top: $spacing-xxs;
  width: 200px;
  background-color: var(--default-bg);
  box-shadow: 0 4px 10px 0 var(--shadow-color);
  position: absolute;
  z-index: 2;

}
.dropdownItem {
  padding: $spacing-s $spacing-xs;
  display: flex;
  height: 48px;
  align-items: center;
}

.dropdownItem:hover {
  color: var(--text-secondary)
}

.dropdownItemSelected {
  color: var(--text-accent)
}


