
.input-body.input-black-text input {
  color: var(--text-secondary);
}

.dropdownMenu{
  margin-top: var(--space-xxs);
  width: 400px;
  background-color: var(--dropdown-options-bg);
  box-shadow: 0 4px 10px 0 var(--shadow-color);

}
.dropdownItem {
  padding: var(--space-s) var(--space-xs);
  display: flex;
  height: 48px;
  align-items: center;
}

.dropdownItem:hover {
  color: var(--text-secondary)
}

.dropdownItemSelected {
  color: var(--text-accent)
}

.clearButton {
  margin-left: 20px;
  background-color: var(--default-bg);
  color: var(--text-primary);
  border: 1px solid var(--text-secondary);
  padding: $spacing-s $spacing-m;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.clearButton:hover {
  background-color: var(--text-accent);
  color: var(--card-bg);
}

.clearButton:focus {
  outline: none;
}
