
.input-body.input-black-text input {
  color: var(--text-secondary);
}

.dropdownMenu{
  margin-top: var(--space-xxs);
  width: 400px;
  background-color: var(--dropdown-options-bg);
  box-shadow: 0 4px 10px 0 var(--shadow-color);

}
.dropdownItem {
  padding: var(--space-s) var(--space-xs);
  display: flex;
  height: 48px;
  align-items: center;
}

.dropdownItem:hover {
  color: var(--text-secondary)
}

.dropdownItemSelected {
  color: var(--text-accent)
}
