.wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  padding: 0;

  &.disabled {
    cursor: not-allowed;
  }
}

.checkbox {
  display: none;
}

.custom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--card-bg);
  transition: background-color 0.5s ease-in-out;
  border: 0.5px solid var(--text-secondary);
  width: 40px;
  height: 40px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid transparent;
    box-sizing: border-box;
    pointer-events: none;
  }
}

.wrapper:hover .custom::before {
  border-color: var(--checkbox-border-hover);
}

.checkbox:disabled + .custom {
  background-color: var(--checkbox-bg-disabled);
}

.checkbox:disabled + .custom::before {
  border-color: transparent;
}

.checkbox:checked:active + .custom::before {
  border-color: var(--checkbox-border);
}

.custom svg {
  height: 100%;
  width: 100%;
}
